* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.page1 {
    background-color: #111111;    
}
.page1 a {
    color: none;
    text-decoration: none;
}

.page2 {
    background: url("airport1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.page2 h1 {
    font-size: 36px;
    padding-left: 15px;
    font-weight: bolder;
}
.page2 li {
    font-size: 20px;
    line-height: 40px;
    list-style-type: none;
}

.page2 p {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    
}
.row {
    display: flex;
    width: 100%;
    }

.tenth {
    width: 10%;
} 

.tenthx9 {
    width: 90%;
}

.tenthx5 {
    width: 49%;
}